body {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.first {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 250px 0 250px;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.header li{
    margin: 20px;
    font-size: 30px;
}

.logo,
.logo img{
    height: auto;
    max-width: 350px;
}

.hero {
    display: flex;
    flex-wrap: nowrap;
    padding: 100px 250px;
    align-items: stretch;
    gap: 100px;
    flex-shrink: 0;
}

.hero-headline {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 600;
}

.hero-description {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-right,
.hero-left {
    max-width: 50%;
}

.hero-right{
    margin-left: auto;
    flex: 1 0 auto;
    display: flex;
}

.hero-headline,
.hero-description {
    margin-bottom: 20px;
}

.hero-right img{
    width: 100%;
    max-height: 100%;
}


.hero-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 0 250px;
    margin-bottom: 100px;
}

.game-info {
    margin: 30px auto;
    align-self: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 600;
}
.info-card{
    display: flex;
    max-width: 100%;
}

.card{
    width: 100%;
    margin: 0 15px;
    text-align: center;
    color: #2a2d30;
}

.card img{
    width: 100%;
    border: 3px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 5px;
}

.third {
    background-color: #e5e7eb;
    height: 300px;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 10;
}

.quotes {
    align-self: flex-end;
    color: #1f2937;
    font-weight: 600;
}



button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
}
button a,
button a:visited{
    text-decoration: none;
    color: white;
}